{% extends "layouts/index.njk" %}
{% block content %}
<section class="header">
    <h1>Devatva Rachit</h1>
    <p>
        <i>Computer Science & Engineering Student at KIIT (Graduating 2026) | Aspiring Data Scientist & ML Researcher</i>
    </p>
</section>

<section id="projects">
    <h2>Projects</h2>
    <p>
        Here are some of the projects I’ve worked on, focusing on Machine Learning, Data Science, and Software
        Development.
    </p>

    <table id="project-table" aria-label="List of projects">
        <thead>
            <tr>
                <th>Name</th>
                <th class="tags-col">Tags</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {% for project in collections.project | sort(attribute='data.year') | reverse %}
            {% set filtered_tags = project.data.tags | reject("equalto", "project") | sort %}
            <tr>
                <td class="name-col">
                    <div class="name-and-year">
                        <a href="{{ project.url }}" target="_blank" rel="noopener noreferrer">{{ project.data.title }}</a>
                        <span class="project-year">{{ project.data.date_display or project.data.year }}</span>
                    </div>
                    <div class="tags-mobile">
                        {% for tag in filtered_tags %}
                        <span class="tag {{ tag }}">{{ tag }}</span>
                        {% endfor %}
                    </div>
                </td>
                <td class="tags-col">
                    {% for tag in filtered_tags %}
                    <span class="tag {{ tag }}">{{ tag }}</span>
                    {% endfor %}
                </td>
                <td>{{ project.data.description | safe }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>

<section id="links">
    <h2>Links</h2>
    <ul>
        <li class="linkedin">
            <a href="https://www.linkedin.com/in/devatva-rachit/" target="_blank" rel="noopener noreferrer">LinkedIn</a>
        </li>
        <li class="github">
            <a href="https://github.com/devatvarachit" target="_blank" rel="noopener noreferrer">GitHub</a>
        </li>
        <li class="email">
            <a href="mailto:rachitdevatva722448@gmail.com">Email</a>
        </li>
    </ul>
</section>
{% endblock %}
