<div class="ascii-title">
  <pre class="ascii-art large" aria-hidden="true">
                                                                                                 ,,          ,,         
`7MM"""Yb.                              mm                          `7MM"""Mq.                 `7MM          db   mm    
  MM    `Yb.                            MM                            MM   `MM.                  MM               MM    
  MM     `Mb  .gP"Ya `7M'   `MF',6"Yb.mmMMmm `7M'   `MF',6"Yb.        MM   ,M9   ,6"Yb.  ,p6"bo  MMpMMMb.  `7MM mmMMmm  
  MM      MM ,M'   Yb  VA   ,V 8)   MM  MM     VA   ,V 8)   MM        MMmmdM9   8)   MM 6M'  OO  MM    MM    MM   MM    
  MM     ,MP 8M""""""   VA ,V   ,pm9MM  MM      VA ,V   ,pm9MM        MM  YM.    ,pm9MM 8M       MM    MM    MM   MM    
  MM    ,dP' YM.    ,    VVV   8M   MM  MM       VVV   8M   MM        MM   `Mb. 8M   MM YM.    , MM    MM    MM   MM    
.JMMmmmdP'    `Mbmmd'     W    `Moo9^Yo.`Mbmo     W    `Moo9^Yo.    .JMML. .JMM.`Moo9^Yo.YMbmd'.JMML  JMML..JMML. `Mbmo 
  </pre>

  <pre class="ascii-art small" aria-hidden="true">
Devatva Rachit
Java Developer | AI/ML Enthusiast
  </pre>
</div>
